html {
    box-sizing: border-box;
  }

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  }

/* general styling */@media (min-width: 280px) {

header {
  padding-right: 2%; padding-left: 2%;
  display: flex;
  justify-content: space-between;
}

.logo {
    font-size: 150%;
    transition: 0.3s;
    float: right;
}

ul {
    list-style-type: none;
    text-align: justify;
    font-size: 150%;
  }

li {
    display: inline-block;
    padding-inline-end: 2rem;
}

p > span,  p > a {
    color: #e27163;
}

.Tutorial {
  text-align: center;
  font-size: large;
  margin-bottom: 40px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    justify-content: space-evenly;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px
}

.caption > h1 {
    font-size: 120%;
}

.caption > p {
    margin-top: -10px;
}

.caption{
    margin-bottom: 20px;
    padding: 2px 16px;
    accent-color: #e27163;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.radio {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* button */
.button-56 {
  align-items: center;
  background-color: #e27163;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}


.buttoncenter {
    margin-inline-start: 65px;
    display: flex;
    justify-content: center;
    transform: scale(0.9);
  }

  a {
    text-decoration: none;  
    color: #111;
}


}